tqdm==4.64.0
torch~=2.0.1
scikit-learn~=1.3.1
POT==0.8.2
matplotlib~=3.8.0
gudhi==3.5.0
pytorch-lightning
scikit-network
numpy~=1.26.0
Pillow~=10.0.1
scipy~=1.11.3
ipython~=8.16.1
setuptools~=68.2.2
pandas~=2.1.1
# ripserplusplus~=1.1.2
# git+https://github.com/ArGintum/RipserZeros.git
# git+https://github.com/ArGintum/giotto-ph-ench.git